# ServiceAccount Template
# This template dynamically creates ServiceAccounts based on values.yaml.
# Key Values used:
# - .Values.serviceAccount.create: Toggle ServiceAccount creation
# - .Values.serviceAccount.name: The name of the service account to use or create
{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "app.serviceAccountName" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
