apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-spring-boot-api
  labels:
    app: java-spring-boot-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-spring-boot-api
  template:
    metadata:
      labels:
        app: java-spring-boot-api
    spec:
      containers:
      - name: java-spring-boot-api
        image: IMAGE_PLACEHOLDER
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: java-spring-boot-api-service
spec:
  selector:
    app: java-spring-boot-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
